* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.pageHeader {
    background-color: #1F2937;
    color: white;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;   
}

nav {
    width: 500px;
    margin-right: 150px;
    
}

nav ul {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}


.logo {
    font-weight: bold;
    font-family: sans-serif;
    float: left;
    margin-left: 150px;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px;
    padding-top: 100px;
    background-color: #1F2937;
    color: white;
}

.image {
    background-color: rgb(133, 128, 128);
    width: 600px;
    height: 250px;
    text-align: center;
    line-height: 250px;
}

.signUpBx {
    height: 250px;
    line-height: 100px;

}

.signUpBtn {
    font-size: 15px;
    width: 100px;
    height: 27px;
    background-color: rgb(67, 115, 247);
    border: none;
    border-radius: 5px;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: sans-serif;
}

.quoteDiv,
.quoteDiv2 {
    background-color: #e5e7eb;
    
}

.quoteDiv p {
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-bottom: 50px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    height: 280px;
}

.quoteDiv2, 
.quoteDiv p {
    padding-left: 500px;
    padding-right: 500px;
}

.quoteDiv2 {
    text-align: right;
    padding-bottom: 110px;
    
}

.signUpBottom {
    display: flex;
    justify-content: space-between;
    background-color: rgb(67, 115, 247);
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 100px;
    height: 110px;
   
}

.box1 {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    justify-content: center;
    
}

.signUpBtn2 {
    margin-right: 150px;
    font-size: 15px;
    width: 100px;
    height: 27px;
    background-color: rgb(67, 115, 247);
    margin-top: 45px;
    border-radius: 5px;
    color: white;
    border-color: white;
    border-style: solid;
   
}

