* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.pageHeader {
    background-color: #1F2937;
    color: white;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;   
}

nav {
    width: 500px;
    margin-right: 150px;
    
}

nav ul {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}


.logo {
    font-weight: bold;
    font-family: sans-serif;
    float: left;
    margin-left: 150px;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px;
    padding-top: 100px;
    background-color: #1F2937;
    color: white;
}

.image {
    background-color: rgb(133, 128, 128);
    width: 600px;
    height: 200px;
}

.image alt {
    text-align: center;
}